# Node
node_modules/
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Build output
dist/
build/
.out/
.next/

# Env
.env
.env.*
!.env.production

# VS Code
.vscode/
.vscode-server/
.vscode-test/

# OS
.DS_Store

# Containers
.devcontainer/.cache/

# Database
*.db 
*.sqlite
*.sqlite3
warehouse.db